* {
	padding: 0;
	box-sizing: border-box;
}

body {margin: 0}

.person-info p {max-width:  500px}

.nav-link { opacity: 1 }

img{width:  100%}

.person-img img {max-width: 300px}

#rdc-tools img {width: 100px}

.rdc-tools-box {max-width: 500px}

.rdc-tools-box-1 span {width: 100px}

.rdc-tools-box-2 span {text-align:  center}

.other-tools-img {width: 20%}

iframe#gmap_canvas {
    width: 100%;
    height: 100%;
}

#contact-section label {display: none;}

@media only screen and (max-width: 767px) {

.other-tools-img {width: 50%}

.rdc-tools-box-2 {max-width: 300px}
#rdc-tools .rdc-tools-box-2  img {
	width: 100%;
	max-width: 100px
}
} 